.bContainer {
  border: 1px solid rgb(64, 190, 228);
  border-radius: 7px;
}
.container {
  text-align: left;
  font-size: larger;
  padding: 5px;
}

.index {
  background-color: rgb(236, 243, 243);

  position: sticky;
  top: 72px;
  /* left: 0; */
  /* left: 0; */
  /* bottom: 0; */
  display: flex;
  padding: 5px;
  /* flex-direction: column; */
  flex-direction: row;
  overflow: auto;
  /* z-index: 200; */

}
.index a {
  text-decoration: none;
  color: rgb(249, 248, 248);
  background-color: rgb(107, 33, 171);
  /* background-color: rgb(64, 190, 228); */
  font-weight: bold;
  font-size: 0.8rem;
  margin-right: 7px;
  border-radius: 5px;
  padding: 5px;
}
.index a:hover {
  background-color: rgb(237, 221, 77);
  color: black;
}
/* @media (max-width: 767px) {
  .index {
    position: fixed;
    bottom: 0;
  }
} */