body {
  margin: 0;
  /* font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;

  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  width: 100vw;
  max-width: 70vw;
  margin: auto;
  background-color: #d6eff6;
  color: black;
  /* background-color: rgb(230, 235, 239); */
  /* color: rgb(231, 239, 241); */
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@media (max-width: 767px) {
  body {
    max-width: 100vw;
  }
}
.bgYellow {
  background-color: rgb(250, 234, 22);
  padding: 5px;
  border-radius: 5px;
  color: black;

}
.bgBlue {
  background-color: rgb(135, 197, 245);
  padding: 5px;
  border-radius: 5px;
}
.bgExample {
  background-color: rgb(167, 223, 181);
  padding: 10px;
  border-radius: 5px;
  overflow: auto;
  color: black;
}
.clrRed{
  color: red;
  
}
.bgRed{
  background-color: red;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.clrBlack{
  background-color: rgb(50, 49, 49);
  padding: 3px 5px;
  color: white;
}